[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = ">=0.18"
sentry-sdk = ">=0.14.3"
pytest = "==7.0.1"
pytest-aioworkers = "==0.3"
pytest-cov = "==3.0.0"
pytest-mock = "==3.6.1"
pyyaml = "==6.0"

[dev-packages]
isort = "*"
mypy = "==0.931"
flake8 = "==4.0.1"

[requires]
python_version = "3.6"
