[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioworkers = ">=0.18"
sentry-sdk = ">=0.14.3"
pytest = "==6.2.4"
pytest-aioworkers = "==0.3"
pytest-cov = "==2.12.1"
pytest-mock = "==3.6.1"
pyyaml = "==5.4.1"

[dev-packages]
isort = "*"
mypy = "==0.910"
flake8 = "==3.9.2"

[requires]
python_version = "3.6"
